<div
  class="card mb-3"
  style="max-width: 18rem"
  [ngClass]="server.Status === 0 ? 'border-danger' : 'border-success'"
>
  <div class="card-header">
    <div class="row">
      <div class="col-6">{{ server.ServerName }}</div>
      <div class="col-6">
        <div class="form-check form-switch">
          <input
            (change)="
              serversService.updateStatus('/servers/status/updateStatus', {
                ID: server.ID,
                Status: server.Status
              })
            "
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
            [checked]="server.Status === 0 ? '' : 'checked'"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="card-body"
    [ngClass]="server.Status === 0 ? 'text-danger' : 'text-success'"
  >
    <h5 class="card-title">
      {{ server.Status === 0 ? "Offline" : "Online" }}
    </h5>
    <p class="card-text">Company Name: {{ server.CompanyName }}</p>
    <p class="card-text">IP: {{ server.IP }}</p>
    <div>created At:</div>
    <p class="card-text">
      {{ server.createdAt }}
    </p>
  </div>
</div>
<!-- .slice(0, 9).replaceAll("-", "/").split("/").reverse().join("/") -->
